# Database Infos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=database
POSTGRES_PORT=5432
# INFO: Caso esteja utilizando docker, substituir o host pelo nome do serviço do banco (nesse caso 'db')
POSTGRES_HOST=localhost
# POSTGRES_HOST=db
SECRET_KEY=secret_key

# Redis Infos
REDIS_PORT=6379
# INFO: Caso esteja utilizando docker, substituir o host pelo nome do serviço do redis (nesse caso 'redis')
REDIS_HOST=localhost
# REDIS_HOST=redis

# API Infos
API_PORT=3000
TOKEN_EXPIRATION="1d"

# Email Infos
# INFO: Essas informações foram obtidas do https://ethereal.email/create - SMTP configuration
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USER=blaise40@ethereal.email
MAIL_PASSWORD=6tdXbba1JAqjfc75Ek
MAIL_FROM="Default Sender"